<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gymbooker">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymBooker"
        tools:targetApi="31">
        <activity
            android:name=".GymAccess.GymFloorTrainersBooking"
            android:exported="false" />
        <activity
            android:name=".GymAccess.GymClassBooking"
            android:exported="false" />
        <activity
            android:name=".ManageGym"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminGymHistory"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminEditGymFloorTrainers"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminEditClasses"
            android:exported="false" />
        <activity
            android:name=".GymAccess.GymFloorTrainers"
            android:exported="false" />
        <activity
            android:name=".ViewChatMessages"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatList"
            android:exported="false" />
        <activity
            android:name=".GymAccess.GymClasses"
            android:exported="false" />
        <activity
            android:name=".GymHistory"
            android:exported="false" />
        <activity
            android:name=".GymAccess.GymFloorBooking"
            android:exported="false" />
        <activity
            android:name=".GymAccess.GymFloor"
            android:exported="false" />
        <activity
            android:name=".GymAccess.GymAccess"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminHome"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
        <activity
            android:name=".Features.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>